@media (max-width: 1750px) {
    .container-1200 {
        width: 1130px;
    }
    .btn-mts{
        min-width: 140px;
    }
    .step-main-wrap {
    padding: 20px 40px;
}

h1.step-main-head {
    font-size: 28px;
}

h2.part-heading {
    font-size: 27px;
    margin-bottom: 30px;
}



ul.parts-content li span {
    font-size: 16px;
}

.step-button-wrap {
    margin-top: 40px;
}

.step-img img {
    max-width: 280px;
}

section.services-sec {
    margin-bottom: 120px;
}

.services-sec:before {
    min-height: calc(100% + 30px);
}




}
@media only screen and (max-width: 1600px) {
    :root{
        --f15: 14px;
        --f16: 15px;
        --f17: 16px;
        --f18: 17px;
        --f20: 18px;
        --f24 : 21px;
        --f25: 22px;
        --f40: 35px;
        --f50: 45px;
    }
    .container-1200 {
        width: 1000px;
    }
    .logo-text {
        font-size: 30px;
        transform: translateX(-170px);
    }
    .header-btns .btn-mts {
        padding: 10px 10px;
        min-width: 130px;
    }
    .header-btns{
        transform: translateX(100px);
    }
    .graybox{
        padding: 30px;
    }
    .description-box .item-img{
        width: 350px;
        height: 110px;
    }
}
@media only screen and (max-width: 1440px) {
    :root{
        --f15: 14px;
        --f16: 14px;
        --f17: 15px;
        --f18: 16px;
        --f20: 16px;
        --f24 : 18px;
        --f25: 19px;
        --f40: 32px;
        --f50: 40px;
    }
    .container-1200 {
        width: 1100px;
    }
    .container-1170 {
        width: 90vw;
    }
    .logo-text {
        transform: unset;
    }
    .ban-vehicles h1 {
    font-size: 32px;
}
    .header-nav ul {
        margin-left: 180px;
    }
    .header-btns {
        transform: unset;
    }

    /* Css By Ayub */
    .fs-50 {
        font-size: 40px;
    }
    .sec-desc {
        font-size: 15px;
    }
    .banner-sec.dealer {
        padding: 110px 0 80px 0px;
    }
    .brands-slider .slick-arrow {
        width: 42px;
        height: 42px;
    }
    
    .brands-slider .slick-next.slick-arrow {
        right: -60px;
    }
    
    .brands-slider .slick-prev.slick-arrow {
        left: -60px;
    }
    
    .products-slide .slick-arrow {
        width: 42px;
        height: 42px;
    }
    
    .products-slide .slick-prev.slick-arrow {
        left: -60px;
    }
    
    .products-slide .slick-next.slick-arrow {
        right: -60px;
    }
    
    .p-title {
        font-size: 18px;
    }
    
    .p-cate-list .p-code {
        font-size: 15px;
    }
    
    .p-cate-list .p-location {
        font-size: 14px;
    }
    
    .p-price {
        font-size: 16px;
    }
    
    .hw-box .icon-box {
        height: 100px;
    }
    
    .hw-box .icon-content h3 {
        font-size: 16px;
    }
    
    .hw-box .icon-content p {
        font-size: 14px;
    }
    
    .service-box h3 {
        font-size: 17px;
    }
    
    .stock-cta h2 {
        font-size: 180px;
    }
    
    .stock-cta h3 {
        font-size: 30px;
        margin: 40px 0 30px 0;
    }
    


    /* End */

}
@media(max-width:1439px){
    .products-slide .slick-prev.slick-arrow {
        left: 0;
        z-index: 1;
    }
    
    .products-slide .slick-next.slick-arrow {
        right: 0;
    }
    
    .services-sec {
        margin-bottom: 40px;
    }
    .brands-sec:before,
    .hw-sec:before {
        width: 95%;
    }
    
}

@media only screen and (max-width: 1200px) {
    section.sec-2.productPageTn span {
        /*padding: 10px 20px !important;*/
    }
    .container-1200 {
        width: 1040px;
    }
    .radio-option-box {
        padding: 10px 15px;
    }
    .graybox {
        padding: 20px;
    }
    /**/
    div#first .col-lg-3.col-md-3.blur_action {
    float: left;
    width: 49%;
    margin-left: 1%;
    height: 320px;
    flex: 0 0 32%;
}
div#first .box {
    padding: 10px 25px;
    height: 340px;
}
    div#loop .col-lg-3.col-md-3.blur_action {
    float: left;
    width: 49%;
    margin-left: 1%;
    height: 320px;
    flex: 0 0 32%;
}
div#loop .box {
    padding: 10px 25px;
    height: 340px;
}
.select2-container .select2-selection--single .select2-selection__rendered {

    padding-left: 20px !important;
}
/* Css by Ayub */
.hw-sec:before {
    width: 95%;
}
.hw-box .icon-box {
    height: 80px;
}
.hw-box .icon-content h3 {
    font-size: 15px;
}
.hw-box .icon-content p {
    font-size: 13px;
}
.services-sec {
    padding: 70px 0 30px 0;
}
.stock-cta h2 {
    font-size: 150px;
}
.stock-cta h3 {
    font-size: 26px;
    margin: 20px 0 30px 0;
}
.stock-cta {
    padding: 70px 0;
}
.header-nav ul {
    margin-left: 110px;
}
.fs-50 {
    font-size: 35px;
}
.brands-slider .slick-prev.slick-arrow {
    left: -45px;
}

.brands-slider .slick-next.slick-arrow {
    right: -45px;
}
.yad-card img {
    height: 200px;
}
.vec-box-big {
    padding: 15px;
}

.vec-box img {
    padding-right: 0;
}

.vec-box-big h1 {
    font-size: 14px;
}

.vec-box-big p {
    font-size: 14px;
}

.vec-box-big span {
    font-size: 15px;
}

.vec-box-big .card.card-body {
    padding: 10px;
    font-size: 15px;
    bottom: 20px;
}

.vec-box-row {
    height: 200px;
}
/* End */


}

@media only screen and (max-width: 1167px) {
    :root{
        --f15: 13px;
        --f16: 13px;
        --f17: 14px;
        --f18: 15px;
        --f20: 15px;
        --f24 : 16px;
        --f25: 18px;
        --f40: 28px;
        --f50: 35px;
    }
    .container-1200 {
        width: 990px;
    }
    .header-btns {
        transform: translateX(-50px);
    }
    .counter-inp .count{
        font-size: 22px;
    }
    .counter-inp .unit{
        font-size: 12px;
    }
    .counter-inp{
        width: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    .container-1200 {
        width: 940px;
    }
}

@media only screen and (max-width: 991px) {
    .sale-countdown h2 {
    font-size: 28px;
}
.filter-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    padding: 15px 20px;
    border-radius: 15px;
}
.topRightFilter {
    float: none;
}
.productsFiltersCol:before{
    display:none;
}
.sale-countdown {
    padding-top: 30px;
}
   header.header {
    padding: 10px 0 0;
}
.ban-vehicles h1 {
    font-size: 27px;
}
.header-submenu {
    justify-content: space-between;
    padding: 90px 50px 0;
    /* margin-left: 160px; */
}
.mob-header-nav {
    padding-right: 0px;
    position: absolute;
    top: 30px;
    right: 0;
    /* transform: translateY(-50%); */
}
.header-submenu a {
    font-size: 13px;
    padding: 10px 21px;
}
    .container-1200 > .row{
        justify-content: center;
    }
    .newsletter-box{
        margin: 20px auto;
        max-width: 500px;
    }
    .advert-details-sec .container-1200 > .row .col-md-8:first-child{
        order: 2;
    }
 
    .mob-header{
        display: block;
    }
    .logo-text {
        transform: translateX(50px) translateY(10px);
    }
    .mob-header-nav{
        padding-right: 0px;
            z-index: 9999999999;
    }
    .container-1200 {
    width: 90%;
}
.logo-text {
    transform: translateY(10px);
}
section.section {
    padding: 30px 0;
}
z
.create-advert-sec::before {
    
    height:360px;
    width:360px;
    top: 15%;
    right: -13%;
        
}
.create-advert-sec::after {
    
    height:360px;
    width:360px;
    bottom: 17%;
    right: -4%;
}
.headingqa-2 {
 
    font-size: 25px;
}
.inp-round {

   
    padding: 10px 30px;
}
.newsletter-sec {
    padding:30px 0;
}
header.header ~ br {
    display: none;
}

section.create-advert-sec.section {
    padding-top: 70px;
}
.row.header-nav-row {
    position: fixed;
    left: -110%;
    top: 0;
    height: 100vh;
    width: 350px;
    background: #000;
    transition: .3s ease-in-out;
    padding: 70px 30px;
    align-items: center;
}

.row.header-nav-row.show {
    left: 0;
}

.header-nav ul {
    margin: 0;
    flex-direction: column;
}

.header-btns {
    transform: none;
}
h1.step-main-head {
    font-size: 24px;
}

.step-main-wrap {
    padding: 30px;
    border-radius: 15px;
}

h2.part-heading {
    font-size: 20px;
    margin-bottom: 20px;
}

ul.parts-content li span {
    font-size: 13px;
    padding: 9px 20px;
}

ul.parts-content li {
    margin-bottom: 5px;
}

.step-img img {
    max-width: 210px;
}

.step-button, .step-button-ext {
    font-size: 12px;
    padding: 7px 0px;
    width: 130px;
}
/**/
.container {
    max-width: 90vw;
}
.filterIn .selectCommon span.select2.select2-container {
    margin: 0;
    width: 100% !important;
}
div.productsFiltersCol {
    padding-right: 10px;
}
.filterIn label.checkboxCommon {
    width: 45px;
    height: auto;
}
header.header {
    padding: 10px 0 80px;
}
div#first .box {
    padding: 10px 25px;
    height: 390px;
}
div#first .col-lg-3.col-md-3.blur_action {
    height: 360px;
  
}
div#loop .box {
    padding: 10px 25px;
    height: 390px;
}
div#loop .col-lg-3.col-md-3.blur_action {
    height: 360px;
  
}

/* Ayub Css */
.slick-dots li button {
    display: none;
}

.slick-dots li {
    width: 12px;
    height: 12px;
    background: #e4e4ea;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    background: #908eb0;
}
.hw-sec:before {
    display: none;
}
.hw-sec .row .col-md-12 {
    order: 1;
    padding: 0;
}

.hw-sec .btn-wraper .prim-btn {
    display: inline-block;
    text-align: center;
    padding: 12px 25px;
}

.hw-sec .btn-wraper {
    text-align: center;
    margin-top: 20px;
}
.prim-btn {
    text-align: center;
    padding: 12px 25px;
}

.container-1170 {
    max-width: 90vw;
}
.services-sec {
    margin-bottom: 0;
    padding-top: 68%;
    padding-bottom: 40px;
}
.services-sec:before {
    width: 100%;
    height: 510px;
    display: block;
    background-image: url(../image/images/service-bg-mob.png);
    top: 0;
    background-position: top;
    min-height: auto;
}

.services-sec .row {
    padding-top: 20px;
}
.fs-50 {
    font-size: 30px;
}
.hw-box .icon-box {
    height: 90px;
}
.hw-box {
    margin-bottom: 20px;
}
.hw-wraper .col-lg-3:not(:last-child) .hw-box .icon-box:after{
    display: none;
}
.stock-cta h2 {
    font-size: 150px;
}
.stock-cta h3 {
    font-size: 28px;
    margin: 25px 0 25px 0;
}
.testimonails-sec .slick-dots {
    position: relative;
}
.stock-cta {
    padding: 60px 0;
    margin-bottom: 40px;
}
.banner-sec.dealer .banner-img img {
    max-width: 100%;
}
.banner-sec.dealer:after {
    width: 60%;
}
.brands-sec .btn-wraper {
    display: none;
}
.brands-sec:before {
    width: calc(90% + 40px);
}
.brands-slider .slick-arrow {
    width: 30px;
    height: 30px;
}
.brands-slider .slick-next.slick-arrow {
    right: -20px;
}
.brands-slider .slick-prev.slick-arrow {
    left: -22px;
}
.hw-sec {
    padding: 20px 0 50px 0;
}
.mob-header-nav.dealer{
    position: static;
}
header.header {
    padding: 20px 0 20px;
}
.mob-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-header h3 {
    margin: 0;
}

.mob-header h3 a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.container-1400{
    max-width: 90vw;
}
.userBtns a {
    text-decoration: none;
    color: #fff;
    padding: 5px 16px;
    background: #7977a2;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .4s ease-in;
}
.userBtns a:hover {
    background: #05eab5;
}

.userBtns a:last-child {
    margin-left: 4px;
}

.mob-header .btn-icon {
    margin-left: 10px;
}

.desktop-header.user {
    /* order: -1; */
}
.header-btns.dealer {
    display: block;
}
.header-btns.dealer .dropdown-menu {
    position: static !important;
    transform: unset !important;
    transform: scaleY(0) !important;
    transform-origin: top;
    /* display: block; */
    background: #7977a252;
    transition: all .2s ease-in-out;
}
.header-btns.dealer .dropdown-menu.show {
    transform: scaleY(1) !important;
}
.header-btns.dealer .dropdown-menu .dropdown-item {
    color: #ffffff;
    background: none !important;
    white-space: unset;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;

}

.header-btns.dealer a#navbarDropdown {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
}
.row.header-nav-row {
    background: #202543;
    flex-direction: column;
}
.header-nav {
    display: block;
}
.header-nav ul {
    display: block;
}

.header-nav ul li a {
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}

.header-nav ul li a:before {
    display: none;
}

section.services-sec {
    margin-bottom: 30px;
}
.stock-cta p {
    max-width: 80%;
}
.v-details-number span {
    all: unset;
    max-width: unset;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: black;
    color: #fff;
    border-radius: 6px;
    margin-right: 8px;
}
#vehBox {
    margin-top: 70px;
}
.HowItWorks_rightBlock__wZjbr p {
    font-size: 15px;
}
.hm-hiw-sec {
    padding: 50px 0;
}
.logins-container#grad1 {
    padding: 20px 0;
}

.logins-container .card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.logins-container #msform fieldset .form-card {
    width: 100%;
    margin: 0 0 30px;
    padding: 30px 30px 20px 30px;
}
.yad-card img {
    height: 160px;
}
.col-sm-4.vec-box.p-0 {
    width: 100%;
    height: 240px;
    margin-bottom: 0;
}

.col-sm-8.vec-box.p-0 {
    width: 100%;
    padding-left: 20px !important;
}

.vec-box img {
    padding-right: 0px;
}
.vec-box-row {
    height: auto;
}

section.sec-2.productPageTn.requested-vehicles .col-sm-4, section.sec-2.productPageTn.requested-vehicles .col-sm-8 {
    margin-bottom: 0;
}

.vec-box-big {
    width: 100%;
    padding: 25px;
}

.vec-box-big h1 {
    margin-top: 0;
}

.vec-box-big .card.card-body {
    position: static;
    width: max-content;
    margin-top: 20px;
}

/* End */



}

@media (max-width: 767px) {
.dealer-banner .banner-content p {
    font-size: 17px;
}
.sale-countdown h2 {
    font-size: 17px;
}
.header-submenu a {
    font-size: 12px;
    padding: 10px 13px;
}
.newsletter-sec {
    
     margin-bottom: 30px;
}
.footer-sub.about, .main-footer .product-2 {
   
    margin-bottom: 25px;
}
.main-footer .contact p {
    margin-bottom: 12px;
}
section.sec-8 {
    margin-bottom: 0px;
}
.create-advert-sec::after {
   
    bottom: 17%;
    right: -25%;
    z-index: -1;
}
.create-advert-sec::before {
    height: 385px;
    width: 400px;
    top: 11%;
    right: -32%;
    z-index: -1;
}

.create-advert-sec .car-img {

    max-width: 28%;
    right: 5%;
    bottom: 2%;
}
.step-img {
    margin-top: 30px;
}
/**/
section.sec-2.productPageTn {
    padding-top: 50px;
}
.topRightFilter span.select2.select2-container.select2-container--default {
    width: 230px !important;
}
.productsFilters {
    margin-bottom: 20px;
}
section.sec-2.productPageTn .category-btn {
    margin: 20px 0;
}
div#first .col-lg-3.col-md-3.blur_action {

    width: 100%;
    margin-left: 0%;
    height: 350px;

}
div#first .box {
    padding: 10px 15px;
    height: 380px;
}
div#loop .col-lg-3.col-md-3.blur_action {

    width: 100%;
    margin-left: 0%;
    height: 350px;

}
div#loop .box {
    padding: 10px 15px;
    height: 380px;
}

/* css by ayub */
.container-1400 {
    max-width: 90vw;
}

.container-1170 {
    max-width: 90vw;
}
.banner-sec.dealer {
    padding: 60px 0 50px 0px;
}
.banner-sec.dealer:after {
    width: 100%;
}
.banner-sec.dealer .row {
    flex-direction: column-reverse;
}
.banner-sec.dealer .banner-img {
    max-width: 330px;
    margin: 0  auto 20px auto;
}
.banner-sec.dealer .banner-img img {
    max-width: 100%;
}
.fs-50 {
    font-size: 30px;
}
.sec-heading br {
    display: none;
}
.sec-desc {
    font-size: 14px;
}
.sec-desc br {
    display: none;
}
.prim-btn {
    padding: 18px 30px;
    display: block;
    text-align: center;
}
.brands-sec:before{
    display: none;
}
.brands-sec .row{
    background: #f2f2f2;
    margin: 0 ;
    border-radius: 20px;
    padding: 40px 25px;
}
.brands-sec .row > div {
    padding: 0;
}
.brands-sec .btn-wraper {
    display: none;
}
.brands-slider .slick-arrow {
    width: 35px;
    height: 35px;
}
.brands-slider .slick-prev.slick-arrow {
    left: -25px;
}
.brands-slider .slick-next.slick-arrow {
    right: -25px;
}
.brands-sec {
    padding: 30px 0;
}
.brands-sec {
    padding: 30px 0;
}
.hw-sec {
    padding: 10px 0;
}
.hw-accordian .accordion-item {
    background: #f2f2f2;
    margin-top: 15px;
    border: none;
}

.hw-accordian .accordion-item .accordion-button {
    background: #f2f2f2;
    box-shadow: none;
    font-weight: 700;
    color: #242424;
}
.hw-accordian .accordion-item .accordion-body {
    padding-bottom: 30px;
}
.accordion-flush .accordion-item .accordion-button .hw-ac-img {
    max-width: 80px;
    margin-right: 20px;
}

.accordion-flush .accordion-item .accordion-button .hw-ac-img img {
    width: 100%;
}

.hw-accordian .accordion-item .accordion-button::after {
    color: #242424 !important;
    filter: brightness(0);
}
.hw-sec .btn-wraper a {
    margin-left: 0;
}
.hw-sec .btn-wraper a:first-child {
    margin-right: 15px;
}
.services-sec {
    padding-top: 60px;
}

.services-sec:before {
    height: 350px;
    position: static;
    background-size: cover;
    background-position: left;
}
.service-box {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.service-box .icon-box {
    width: 100%;
    max-width: 80px;
}

.service-box h3 {
    width: 100%;
    max-width: calc(100% - 80px);
}

.service-box p {
    max-width: 100%;
    margin-top: 10px;
}
.service-box .icon-box img {
    max-height: unset;
    max-height: 55px;
}
.testimonails-sec .user-ratings .sars-icons {
    margin: 10px 0;
    display: block;
}
.testi-box .user-comment {
    margin-bottom: 30px;
}
.testimonails-sec .slick-dots{
    position: relative;
}
.stock-cta h2 {
    font-size: 90px;
}

.stock-cta h3 {
    font-size: 20px;
    margin: -20px 0 25px 0;
}

.stock-cta {
    margin-bottom: 20px;
}
.stock-cta h3 br {
    display: none;
}
.products-slide .slick-arrow{
    display: none !important;
}

.main-footer {
    text-align: left;
    align-items: start;
}

.main-footer .footer-sub ul {
    text-align: left;
}

.main-footer .footer-sub h5 {
    text-align: left;
    font-size: 18px;
}

.main-footer .footer-sub ul a {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}

.main-footer .contact div p {
    text-align: left;
    font-size: 15px;
}

.main-footer .footer-sub img {
    margin-bottom: 10px;
    max-width: 160px;
}
.footer-social {
    width: 100%;
}
.copyright-txt {
    font-size: 15px !important;
    margin-bottom: 40px;
}
section.services-sec {
    margin-bottom: 20px;
}


/* Products Filter */
.filter-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    padding: 15px 20px;
    border-radius: 15px;
}
.filter-head.toggle_wraper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-head {
    font-size: 24px !important;
    margin: 0;
}
section.sec-2.productPageTn{
    position: relative;
}
section.sec-2.productPageTn span.filterToggle {
    padding: 0 !important;
}

.filterWraper {
    background: #f1f1f1;
    padding: 0 20px;
    margin-bottom: 40px;
}

section.sec-2.productPageTn span {
    /*padding: 0 !important;*/
}
.p-cate-list .p-code {
    padding: 3px 20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px !important;
    right: 20px !important;
    top: 12px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: unset !important;
    border-width: unset !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
}
.topRightFilter {
    float: none;
}

/* End */


/* End */

.registration-form .form-main.text-center div span {
    font-size: 11px;
    position: absolute;
    bottom: -33px;
    width: 100%;
    left: 0;
}
.item-features {

    gap: 19px;
}
.description-box .item-descp {
    font-weight: 500;
    margin-bottom: 20px;
}
.yad-card img {
    height: 160px;
}
}

@media (max-width: 575px) {
    
/* .category-btn a {*/

/*    padding: 10px 12px;*/
/*    font-size: 12px;*/
/*}   */


.category-btn a {
    width: 100%;
    max-width: calc(25% - 6px);
    line-height: 1.2;
    padding: 0 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}


 .sale-countdown h2 {
    font-size: 15px;
}   
    .category-btn {
    flex-flow: wrap;
}
    .header-submenu a {
    font-size: 11px;
    padding: 10px 13px;
}
.header-submenu li {
    
    flex:0 0 50%;
}
.header-submenu a {
    border-radius: 20px;
    margin-bottom: 15px;
}
    .header-submenu {
 
    flex-flow: wrap;
    padding: 90px 0px 0;
    /* margin-left: 160px; */
}
.ban-vehicles h1 {
    font-size: 23px;
    text-align: center;
    padding: 0 10px;
}
.ban-vehicles p {
    color: white;
    text-align: center;
}
section.create-advert-sec.section {
    padding-top: 40px;
}
    .dflex-gap10 span {
    font-size: 12px;
}
.upload-video-box .custom-upload-image {
    width: 115px;
    height: 42px;
}
.step4-checklist .custom-checkbox .checkbox-square {
    
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.description-box .item-img {
    width: 100%;
    height: 100%;
}
.description-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.counter-inp {
    width: 70px;
}
.container-1151 {
    max-width: 90vw;
}
.create-advert-sec::before {
    height: 300px;
    width: 300px;
    top: 20%;
    right: -20%;
    z-index: -1;
}
.create-advert-sec::after {
    height: 300px;
    width: 300px;
    bottom: 30%;
    right: -34%;
    z-index: -1;
}

.headingqa-2 {
    font-size: 25px;
}
.newsletter-box .inp-qa {
    max-width:100%;
}
.step-main-wrap {
    padding: 20px 15px;
    border-radius: 10px;
}

h1.step-main-head {
    font-size: 20px;
    text-align: center;
}

h2.part-heading {
    text-align: center;
    font-size: 17px;
}

section.step-wrapper {
    padding: 22px 18px;
    border-radius: 10px;
}

ul.parts-content li span {
    font-size: 12px;
}

.step-img img {
    max-width: 190px;
}

.step-img {
    margin-top: 20px;
}

.step-button, .step-button-ext {
    font-size: 10px;
    padding: 6px 0px;
    width: 100px;
}
.stock-cta p {
    max-width: 100%;
}

.vehicle-list {
    width: 100%;
    align-items: stretch;
    /* overflow-x: scroll; */
}
.vehicle-list li {
    font-size: 12px;
    flex: 1;
    padding: 8px 4px;   
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#vehBox > h4 {
    font-size: 14px;
    padding: 0;
}
.bottomListTitle h4 {
    font-size: 20px;
}

.bottomListTitle h4 svg {
    margin-right: 10px;
}

.bottomListTitle ul li {
    font-size: 13px;
}

.bottomListTitle ul li span {
    text-align: right;
}
.bottomListTitle.service ul li span {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.bottomListTitle.service ul li {
    flex-wrap: wrap;
}
.bottomListTitle ul li svg {
    margin-right: 10px;
}
.vehicleDetailGalrepeatMain {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.vehicleDetailGalrepeatMain .imgVehicle {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
}
.imgVehicle img {
    height: 200px;
}

 section.sec-2.productPageTn.requested-vehicles .col-sm-8{
   margin-bottom: 19px; 


}
section.sec-2.productPageTn.requested-vehicles .col-sm-4{
     margin-bottom: 0px; 
 


}
.userBtns a {

    padding: 5px 13px;

    font-size: 11px;

}
.HowItWorks_rightBlock__wZjbr span {
    font-size: 15px;
}

.HowItWorks_rightBlock__wZjbr p {
    font-size: 13px;
}
.hm-hiw-sec h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.hm-hiw-sec .container > p {
    font-size: 14px;
}
.hm-pricing-table {
    overflow-x: scroll;
}
.hm-pricing-table table {
    width: 500px;
}
.hm-pricing-table table td {
    font-size: 14px;
}
.logins-container .card {
    margin: 0 10px;
    padding-top: 0 !important;
}

.logins-container .card h2 {
    font-size: 20px;
}

.logins-container #progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.logins-container #progressbar {
    margin-bottom: 20px;
}

.logins-container #progressbar li:after {
    top: 20px;
}

.logins-container #msform fieldset .form-card {
    padding: 30px 15px 10px 15px;
    padding: 30px 15px 10px 15px;
}

.logins-container #msform fieldset .form-card label {
    font-size: 14px;
}

.logins-container #msform input,.logins-container #msform textarea,.logins-container #msform select {
    font-size: 12px;
    height: 40px;
    margin-bottom: 15px;
}

.dealerlogins .form-card ~ span {
    font-size: 15px;
}

.dealerlogins ~ a {
    font-size: 15px;
}

.logins-container #msform fieldset {
    padding-bottom: 10px;
}
.logins-container .card > h2 ~ p {  
    margin-bottom: 20px;
}
.logins-container .alert ul li {
    font-size: 13px;
}
.red-notice {
    font-size: 13px;
}
.yad-card img {
    height: 160px;
}

section.sec-2.productPageTn .vec-box.col-sm-4 {
    height: 170px;
}
.vec-box-big {
    padding: 15px;
}

.vec-box-big h1 {
    font-size: 13px;
}

.vec-box-big p {
    font-size: 13px;
}

.vec-box-big span {
    font-size: 13px;
}

.vec-box-big .card.card-body {
    min-width: 100%;
    font-size: 13px;
}

.vec-box-row {
    margin-bottom: 10px;
}
.vec-box-big span {
    padding-left: 0;
}

.btn-bids a {
    display: block;
    text-align: center;
}
}
@media (max-width: 380px) {
    .userBtns a {
    padding: 5px 13px;
    font-size: 10px;
}
.row.header-nav-row {
    left: -130%;}
    .fs-50 {
    font-size: 22px;
}
.hw-sec .btn-wraper a:first-child {
    margin-right: 15px;
    margin-bottom: 10px;
}
.hw-sec .btn-wraper {
    padding: 0 15px;
}
.hw-sec .btn-wraper a{
    width: 100%;
}
.brand.slick-slide img {
    margin: 0 auto;
    max-width: 60px;
}   
    
}
