/node_modules
/public/hot
/public/storage
/public/dealers
/public/materials
/public/plates
/public/uploads
/public/vehicles
/storage/*.key
/vendor
/public
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess