.cvf_btn span{
    padding: 8px 20px;
}
.admin_dashboard .breadcrumb-header{
    float:none !important;
}
.admin_dashboard .breadcrumb{
    justify-content: end;
}
footer.footer_copyright p {
    margin-bottom: 0;
}
.vehicle_data thead th {
    width: auto !important;
}
.vehicle_data thead th:nth-child(3) {
    width: 180px !important;
}
.vehicle_data thead th .dataTable-sorter {
    padding-right: 16px;
}
.vehicle_data thead th:last-child {
    width: 150px !important;
}
.vehicle_data tbody td img{
    object-fit:cover;
}
a.action_btn {
    display: block;
}

a.action_btn span {
    display: block;
}

a.action_btn:nth-child(2) {
    margin: 5px 0;
}
.dealer_vehicle_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 20px;
}
.car_img_wraper img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    margin-bottom: 30px;
}



@media(max-width:1750px){
    .vehicle_data thead th .dataTable-sorter {
        font-size: 14px;
    }

}

@media(max-width:1599px){
    
    .prof-stats .card .stats-icon  {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 6px;
        float: none;
    }
    
    .prof-stats .card .stats-icon i {
        font-size: 22px;
    }
    .prof-stats .card .card-body h6 {
        font-size: 14px;
    }
    .dealers-list tbody td {
        font-size: 14px;
    }
    .dealers-list thead th {
        font-size: 15px;
    }
    .tables_admin_data tbody td img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .fs-head {
        font-size: 26px;
    }
    .tables_admin_data thead th,
    .tables_admin_data tbody td{
        font-size:13px;
    }
    .car_img_wraper img {
        height: 170px;
    }

}

@media(max-width:1439px){
    .prof-stats .card .card-body {
        padding: 30px 15px !important;
    }
    .prof-stats .card .card-body h6 {
        font-size: 12px;
    }
    
    .prof-stats .card .stats-icon {
        width: 2rem;
        height: 2rem;
    }
    
    .prof-stats .card .stats-icon i {
        font-size: 16px;
    }
    .dealers-list {
        white-space:nowrap;
    }
    .dealers-list tbody td {
        font-size: 13px;
    }

}


@media(max-width:991px){
    
    .approved-dealers {
        white-space: nowrap;
    }

.approved-dealers thead a {
        padding-right: 20px;
    }
    .tables_admin_data tbody td img {
        width: 70px;
        height: 70px;
    }
    .vehicle_data thead{
        white-space: nowrap;
    }
    .fs-head {
        font-size: 20px;
    }
    .vehicle_form label {
    font-size: 14px;
}
.vehicle_form .card-header {
    padding-bottom: 0;
}
.add_btn {
    font-size: 14px;
}
.car_img_wraper img {
    height: 150px;
}
.car_img_wraper h5 {
    font-size: 16px !important;
}
.tables_admin_data.dealers {
    white-space: nowrap;
}
.tables_admin_data.dealers th a {
    padding-right: 20px;
}

}

@media(max-width:767px){
    .admin_dashboard #sidebar{
        background: red;
        height: 100vh;
        position: fixed;
        z-index: 999;
    }
    .prof-stats .card .card-body h6 {
        font-size: 13px;
}
.prof-stats .card {
    margin-bottom: 24px;
}
footer.footer_copyright {
    position: static;
}
footer.footer_copyright p{
    margin-bottom:0;
    font-size: 14px;
}
.admin_dashboard .dataTable-info {
    font-size: 13px;
}
.tables_admin_data {
    white-space: nowrap;
}
.table_wraper.card-body {
    overflow-x: scroll;
}
.tables_admin_data tbody td img {
    width: 60px;
    height: 60px;
}
.tables_admin_data a.dataTable-sorter  {
    padding-right: 20px;
}
.admin_dashboard .breadcrumb {
    justify-content: start;
}
.fs-head {
    font-size: 18px;
}
.student-profile .card .card-header .profile_img {
    width: 90px !important;
    height: 90px !important;
}
.profile_detail p {
    font-size: 14px !important;
    text-align: center;
}
.btn-modal span {
    display: inline-block !important;
}

.btn-modal i {
    display: none !important;
}
.oveflow-x-scroll{
    overflow-x: scroll;
}
.pb-sm-0{
    padding-bottom:0;
}


}

@media(max-width:480px){
    .prof-stats .row .col-6{
        width:100%;
    }
    .prof-stats .card {
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .prof-stats .card .card-body {
        width: 100%;
    }
    .prof-stats .card .stats-icon {
        margin: 0 auto 10px auto;
    }
    .dealers-table thead th {
        white-space: nowrap;
    }
    .dealers-table thead th a:before,
    .dealers-table thead th a:after{
        display:none;
    }
    .cvf_btn span {
        float: none !important;
        width: 100%;
        padding: 8px 10px;
        margin-top: 10px;
        font-size: 13px;
    }
    .admin_dashboard .dataTable-wrapper .dataTable-search {
        float: none !important;
        width: 100%;
    }
    
    .admin_dashboard .dataTable-wrapper .dataTable-search .dataTable-input {
        width: 100%;
    }
    .profile_info {
    font-size: 14px !important;
}
.add_btn {
    font-size: 12px;
}
.w-160{
    width:160px;
}


}